* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white
}

.login-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
    margin-bottom: 10px;
}

.subtitle {
    color: gray;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: #2a5298;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #2a5298;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1e3c72;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #2a5298;
    text-decoration: none;
}

.error {
    color: red;
    margin-top: 10px;
}


/*body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}


.login-card{
    background:#fff;
    padding:30px;
    border-radius:12px;
    width:300px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.login-card h2{
    margin-bottom:5px;
}

.subtitle{
    color:gray;
    font-size:14px;
    margin-bottom:20px;
}


.input-group{
    margin-bottom:15px;
}

input, select{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
    outline:none;
}


button{
    width:100%;
    padding:10px;
    border:none;
    background:#667eea;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#5a67d8;
}


#error{
    color:red;
    margin-top:10px;
}


.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}*/

.login-page {
    background-image: url("../images/loginbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}


/*register page*/

.login-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.input-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1e3c72;
}

.error {
    margin-top: 10px;
    color: red;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}



.checkmark-circle {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}

.background {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #4CAF50;
    position: absolute;
}

.checkmark {
    border-radius: 5px;
}

.checkmark.draw:after {
    animation-delay: 100ms;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
    animation-fill-mode: forwards;
}

.checkmark:after {
    opacity: 0;
    height: 40px;
    width: 20px;
    transform-origin: left top;
    border-right: 5px solid white;
    border-top: 5px solid white;
    content: '';
    left: 20px;
    top: 40px;
    position: absolute;
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 20px;
        opacity: 1;
    }

    40% {
        height: 40px;
        width: 20px;
        opacity: 1;
    }

    100% {
        height: 40px;
        width: 20px;
        opacity: 1;
    }
}

/*dashboard page*/

.dashboard-page {
    font-family: Arial;
    background-image: url(../images/dashboardbg.avif);
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.dashboard-container {
    width: 90%;
    max-width: 1000px;
    text-align: center;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.logout-btn {
    background: #ff4d4d;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #e60000;
}

.welcome-card {
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.category-card {
    background: white;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    background: rgb(50, 50, 243);
}




/* INSTRUCTIONS PAGE */

.instructions-page {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.instructions-container {
    width: 90%;
    max-width: 600px;
}

.instructions-card {
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: left;
    animation: fadeIn 0.5s ease;
}

.instructions-card h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}

.instructions-list {
    list-style: none;
    padding: 0;
}

.instructions-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.start-btn {
    background: #2a5298;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.start-btn:hover {
    background: #1e3c72;
}

.back-btn {
    background: #ccc;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}

/*topic page*/
.topic-page {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial;
}

.topic-container {
    width: 90%;
    max-width: 900px;
    text-align: center;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.category-card {
    background: white;
    color: #333;
    padding: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.category-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background: #ccc;
    cursor: pointer;
}

.back-btn:hover {
    background: #7b0c02;
}

/*quiz.html*/

/* QUIZ PAGE */

.quiz-page {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* MAIN CONTAINER */
.quiz-container {
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#questionCount {
    font-size: 16px;
    color: #333;
}

#timer {
    color: #e60000;
    font-weight: bold;
}


.progress-bar {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0 20px;
}

#progress {
    height: 100%;
    width: 0%;
    background: #4CAF50;
    transition: 0.3s;
}


.question-box h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}


.answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.option-btn {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.option-btn:hover {
    background: #ddd;
}


.option-btn.selected {
    background: #2a5298;
    color: white;
}


.option-btn.correct {
    background: #4CAF50;
    color: white;
}

.option-btn.wrong {
    background: #ff4d4d;
    color: white;
}


#nextBtn {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

#nextBtn:hover {
    background: #1e3c72;
}


@media(max-width:500px) {

    .quiz-container {
        width: 90%;
        padding: 20px;
    }

    .question-box h3 {
        font-size: 16px;
    }
}

body{
    margin:0;
    font-family:Arial;
    background:#eef1f6;
}

/* SIDEBAR */

.sidebar{
    width:220px;
    height:100vh;
    background:#1e3a8a;
    color:white;
    position:fixed;
    left:0;
    top:0;
    padding-top:20px;
}

.sidebar h2{
    text-align:center;
}

.sidebar button{
    width:100%;
    padding:12px;
    border:none;
    background:none;
    color:white;
    text-align:left;
    cursor:pointer;
}

.sidebar button:hover{
    background:#2563eb;
}


/* HEADER */

.header{
    margin-left:220px;
    height:60px;
    background:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 25px;
    box-shadow:0 2px 5px gray;
}


/* MAIN */

.main{
    margin-left:220px;
    min-height:calc(100vh - 60px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding-top:30px;
}


/* DASHBOARD TITLE */

.title{
    font-size:24px;
    margin-bottom:10px;
}


/* WELCOME */

.welcomeBox{
    background:white;
    padding:10px 20px;
    box-shadow:0 0 5px gray;
    margin-bottom:30px;
}


/* CARDS */

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    max-width:900px;
}

.card{
    width:200px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 8px gray;
    text-align:center;
}

.card button{
    margin-top:10px;
    padding:8px 15px;
    border:none;
    background:#2f5cc8;
    color:white;
    cursor:pointer;
}